.userinfoHead{
    font-weight: bold;
    width: 40%;
    margin-right: .4%;
}
.reqFriend{
    border-left: 4px solid #6C757D;
}
.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }